<main>
  <header style="background-color: #068ed0" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center justify-content-center px-3">
      <img src="assets\logo_alphacode.png" width=100px height=100px alt="AlphaCode Logo">
      <h2 class="text-white">Cadastro de Contatos</h2>
    </div>

    <div class="col-md-3 text-end">
      <button 
        type="button" 
        class="btn btn-outline-light me-2"
        [routerLink]="'/crud/contact-form'"
      >
        Criar Contatos
      </button>
      <button 
        type="button" 
        class="btn btn-outline-light me-2"
        [routerLink]="'/crud/contact-list'"
      >
        Lista de Contatos
      </button>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer style="background-color: #068ed0" class="fixed-bottom d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
    <div class="col-md-4 d-flex justify-content-between">
      <span class="mb-3 mb-md-0 text-light">Termos | Políticas </span>
      <div>
        <span class="mb-3 mb-md-0 text-light">© Copyright 2022 | Desenvolvido por </span>
        <img src="assets\logo_rodape_alphacode.png" height="20px" alt="AlphaCode Logo">
      </div>
      <span class="mb-3 mb-md-0 text-light">Alphacode IT Solutions 2024 </span>
    </div>
  </footer>
</main>
